@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica neue', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background: white;
  color: #3d3c40;
  font-weight: 400;
  font-size: 1.4rem;
}
